<footer class="page-footer pink darken-1">
  <div class="container">
    <div class="row">
      <div class="col s6">
        <h5 class="white-text">Pokémon World</h5>
        <p class="grey-text text-lighten-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab sed cumque nam
          illo sunt sapiente at esse quas, totam nulla deserunt, iusto expedita consequuntur eum distinctio placeat
          tempore, deleniti alias.</p>
      </div>
      <div class="col s3"></div>
      <div class="col s3">
        <h5 class="white-text">Support Us</h5>
        <ul>
          <li><a class="grey-text text-lighten-3">Donate</a></li>
          <li><a class="grey-text text-lighten-3">Share</a></li>
          <li><a class="grey-text text-lighten-3">Activities</a></li>
          <li><a class="grey-text text-lighten-3">Publication</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <div class="row">
        <div class="col s6">© 2018 Copyright Pokémon World</div>
        <div class="col s3"></div>
        <div class="col s3 grey-text text-lighten-4">Creator: Eddy Soma</div>
      </div>
    </div>
  </div>
</footer>