<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Pokémon World</title>
  <!--Materialize CSS CDN-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <!--Custom Style Sheets-->
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <!--Favicon-->
  <link rel="shortcut icon" type="image/png" href="/images/favicon.png"/>
  <!--Extra Fonts-->
  <!--Material Icons-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Raleway-->
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <!--Inknut Antiqua-->
  <link href="https://fonts.googleapis.com/css?family=Inknut+Antiqua" rel="stylesheet">
  <!--Montserrat-->
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>