<!DOCTYPE html>
<html lang="en">
<!--Head-->
<% include partials/head %>

<body>
	<!--Navbar-->
	<% include partials/nav %>
	<!--Main Content-->
	<!--Hero-->
	<section class="container hero">
		<h1 class="deep-orange-text text-darken-4">
			<%= title %>
		</h1>
	</section>
	<!--Footer-->
	<% include partials/footer %>
	<!--Scripts-->
	<% include partials/scripts %>
	<!--Custom Scripts-->
	<script src="/javascripts/calc.js"></script>
</body>

</html>