<!DOCTYPE html>
<html lang="en">
  <!--Head-->
  <% include partials/head %>
  <body>
    <!--Navbar-->
    <% include partials/nav %>
    <!--Main Content-->
    <!--Hero-->
    <section class="container hero">
      <h1 class="yellow-text text-darken-4"><%= title %></h1>
      <p class="grey-text text-darken-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error laudantium molestias omnis quis iure modi, amet consectetur iusto porro aperiam reprehenderit enim ex debitis eveniet pariatur, in nam aliquam dolorem?</p>
      <div style="height: 10px;"></div>
    </section>
    <!--Pokeballs-->
    <section class="container sect">
      <h3 style="font-weight: 600;" class="yellow-text text-darken-4">Pokéballs</h3>
      <div style="height: 10px;"></div>
      <div class="container">
        <h6 style="font-size: 24px;">Standard Balls</h6>
      </div>
    </section>
    <!--Battle Effect-->
    <!--Held Effect-->
    <!--Berries-->
    <!--Evolution-->
    <!--Miscellaneous-->
    <!--Footer-->
    <% include partials/footer %>
    <!--Scripts-->
    <% include partials/scripts %>
    <!--Custom Scripts-->
  </body>
</html>