<!DOCTYPE html>
<html lang="en">
  <!--Head-->
  <% include partials/head %>
  <body>
    <!--Navbar-->
    <% include partials/nav %>
    <!--Main Content-->
    <!--Hero-->
    <!--Footer-->
    <% include partials/footer %>
    <!--Scripts-->
    <% include partials/scripts %>
    <!--Custom Scripts-->
  </body>
</html>