// Variables

// Functions

// Styles
body {
	box-sizing: border-box;
	font-family: 'Raleway', 'Inknut Antiqua', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
	font-size: 16px;
}

nav {
	font-weight: 600;
	.brand-logo {
		display: block;
		margin-top: 8px;
		margin-left: 40px;
	}
	.brand-logo img {
		height: 48px;
	}
	li a {
		font-size: 20px;
		&:hover {
			background-color: rgba(255, 0, 0, 0.1);
		}
	}
}

footer {
	margin-top: 80px;
}

.hide {
	display: none;
}

.sect {
	margin-top: 80px;
}

.hero {
	margin: 80px auto;
	text-align: center;
	h1 {
		font-weight: bold;
		font-family: 'Inknut Antiqua';
	}
	p {
		font-size: 20px;
	}
}

.carousel {
	cursor: pointer;
	height: 600px;
	#carousel-1 {
		background-image: url("/images/carousel-1.jpg");
		background-size: cover;
	}
	#carousel-2 {
		background-image: url("/images/carousel-2.jpg");
		background-size: cover;
	}
	#carousel-3 {
		background-image: url("/images/carousel-3.jpg");
		background-size: cover;
	}
	#carousel-4 {
		background-image: url("/images/carousel-4.jpg");
		background-size: cover;
	}
	#carousel-5 {
		background-image: url("/images/carousel-5.jpg");
		background-size: cover;
	}
	#carousel-6 {
		background-image: url("/images/carousel-6.jpg");
		background-size: cover;
	}
	#carousel-7 {
		background-image: url("/images/carousel-7.jpg");
		background-size: cover;
	}
	#carousel-8 {
		background-image: url("/images/carousel-8.jpg");
		background-size: cover;
	}
	#carousel-9 {
		background-image: url("/images/carousel-9.jpg");
		background-size: cover;
	}
}

.pokemon-cell {
	margin-bottom: 20px;
	div.col.s10 {
		font-weight: 600;
	}
}

#side-panel {
	li a {
		font-weight: 600;
		font-size: 20px;
		&:hover {
			background-color: rgba(255, 0, 0, 0.1);
		}
	}
}