// Variable presets
$desktop-width: 993px;

@mixin tablet {
  @media (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

// Materialize CSS form input
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: inner-spin-button !important;
}

.input-field input[type="number"]:focus + label {
  color: #666666 !important;
}

.input-field input[type="number"]:focus {
  border-bottom: 1px solid #888888 !important;
  box-shadow: 0 1px 0 0 #888888 !important;
}

input.select-dropdown:focus {
  border-bottom: 1px solid #4caf50 !important;
}

.dropdown-content li > span {
  color: #bf360c !important;
}

[type="checkbox"]:checked + span:not(.lever):before {
  border-right: 2px solid #bf360c !important;
  border-bottom: 2px solid #bf360c !important;
}

input[type="range"] + .thumb {
  background-color: #bf360c;
}

input[type="range"]::-webkit-slider-thumb {
  background-color: #bf360c;
}

// General
* {
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  font-family: "Montserrat", "Raleway", "Inknut Antiqua", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Verdana, sans-serif;
  font-size: 16px;
}

a {
  cursor: pointer;
}

nav {
  font-weight: 600;
  .brand-logo {
    display: inline-block;
    margin-top: 8px;
    margin-left: 40px;
    background-image: url("/images/logo.png");
    background-size: cover;
    height: 48px;
    width: 279px;
  }
  li a {
    font-size: 20px;
    &:hover {
      background-color: rgba(255, 0, 0, 0.1);
    }
  }
}

footer {
  margin-top: 80px;
}

.bold {
  font-weight: 700;
}

.container {
  > .container {
    width: 90%;
  }
}

.sect {
  margin-top: 80px;
}

.hero {
  margin: 80px auto;
  text-align: center;
  h1 {
    font-weight: bold;
    font-family: "Inknut Antiqua";
  }
  p {
    font-size: 20px;
  }
}

.gap-10 {
  display: block;
  height: 10px;
}

.gap-20 {
  display: block;
  height: 20px;
}

.gap-40 {
  display: block;
  height: 40px;
}

.gap-60 {
  display: block;
  height: 60px;
}

.gap-80 {
  display: block;
  height: 80px;
}

.flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.carousel {
  cursor: pointer;
  height: 600px;
  #carousel-1 {
    background-image: url("/images/carousel-1.jpg");
    background-size: cover;
  }
  #carousel-2 {
    background-image: url("/images/carousel-2.jpg");
    background-size: cover;
  }
  #carousel-3 {
    background-image: url("/images/carousel-3.jpg");
    background-size: cover;
  }
  #carousel-4 {
    background-image: url("/images/carousel-4.jpg");
    background-size: cover;
  }
  #carousel-5 {
    background-image: url("/images/carousel-5.jpg");
    background-size: cover;
  }
  #carousel-6 {
    background-image: url("/images/carousel-6.jpg");
    background-size: cover;
  }
  #carousel-7 {
    background-image: url("/images/carousel-7.jpg");
    background-size: cover;
  }
  #carousel-8 {
    background-image: url("/images/carousel-8.jpg");
    background-size: cover;
  }
  #carousel-9 {
    background-image: url("/images/carousel-9.jpg");
    background-size: cover;
  }
}

.pokemon-cell {
  margin-bottom: 20px;
  div.col.s10 {
    font-weight: 600;
  }
}

.artwork {
  display: block;
  margin: 40px auto;
}

.sprite {
  display: inline-block;
  margin: 0 55px;
  -webkit-user-select: none;
}

.item-name {
  min-width: 180px;
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
}

.item-picture {
  min-width: 120px;
}

.item-description {
  min-width: 300px;
}

.type {
  display: block;
  width: 180px;
  height: 30px;
  color: white;
  text-shadow: 1px 1px grey;
  text-transform: capitalize;
  text-align: center;
  border: none;
}

.type-s {
  display: block;
  width: 100px;
  height: 24px;
  margin: auto;
  color: white;
  text-shadow: 1px 1px grey;
  text-transform: capitalize;
  text-align: center;
  border: none;
}

.bug {
  background: linear-gradient(#a8b820, #8d9a1b);
}

.dark {
  background: linear-gradient(#705848, #513f34);
}

.dragon {
  background: linear-gradient(#7038f8, #4c08ef);
}

.electric {
  background: linear-gradient(#f8d030, #f0c108);
}

.fairy {
  background: linear-gradient(#f98cff, #f540ff);
}

.fighting {
  background: linear-gradient(#c03028, #9d2721);
}

.fire {
  background: linear-gradient(#f08030, #dd6610);
}

.flying {
  background: linear-gradient(#a890f0, #9180c4);
}

.ghost {
  background: linear-gradient(#705898, #554374);
}

.grass {
  background: linear-gradient(#78c850, #5ca935);
}

.ground {
  background: linear-gradient(#e0c068, #d4a82f);
}

.ice {
  background: linear-gradient(#98d8d8, #69c6c6);
}

.normal {
  background: linear-gradient(#a8a878, #8a8a59);
}

.poison {
  background: linear-gradient(#a040a0, #803380);
}

.psychic {
  background: linear-gradient(#f85888, #f61c5d);
}

.rock {
  background: linear-gradient(#b8a038, #93802d);
}

.steel {
  background: linear-gradient(#b8b8d0, #9797ba);
}

.water {
  background: linear-gradient(#6890f0, #386ceb);
}

.none {
  background: linear-gradient(#555555, #444444);
}

#cards {
  .card {
    min-height: 360px;
    position: relative;
  }
  .card-action {
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

#side-panel {
  li a {
    font-weight: 600;
    font-size: 20px;
    &:hover {
      background-color: rgba(255, 0, 0, 0.1);
    }
  }
}

#name-id {
  h5 {
    display: inline-block;
  }
}

#basic-data {
  h3 {
    font-weight: 600;
  }
  h5 {
    margin: 30px 0;
  }
  span {
    display: inline-block;
    margin-right: 20px;
  }
  .col {
    margin: 10px 0;
  }
}

#game-stats {
  h3 {
    font-weight: 600;
  }
  h5 {
    margin: 0;
  }
  .row img {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
  }
  .col {
    margin: 10px 0;
  }
}

#move-data {
  h3 {
    font-weight: 600;
  }
  th {
    font-size: 24px;
  }
  td {
    min-width: 80px;
  }
}

#type-symbols {
  padding: 10px 40px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  .type-symbol-item {
    display: inline-block;
    width: 120px;
    height: 120px;
    margin: 10px;
    border-radius: 50%;
    transition-duration: 1.2s;
    transition-timing-function: ease-in-out;
    opacity: 0.5;
    &:hover {
      opacity: 1;
      transform: rotate(1turn);
      transition-duration: 1.2s;
      transition-timing-function: ease-in-out;
    }
    &.selected {
      transition: none;
      opacity: 1;
    }
  }
  .bug {
    background: url("/images/type-bug.png");
    background-size: cover;
  }
  .dark {
    background: url("/images/type-dark.png");
    background-size: cover;
  }
  .dragon {
    background: url("/images/type-dragon.png");
    background-size: cover;
  }
  .electric {
    background: url("/images/type-electric.png");
    background-size: cover;
  }
  .fairy {
    background: url("/images/type-fairy.png");
    background-size: cover;
  }
  .fighting {
    background: url("/images/type-fighting.png");
    background-size: cover;
  }
  .fire {
    background: url("/images/type-fire.png");
    background-size: cover;
  }
  .flying {
    background: url("/images/type-flying.png");
    background-size: cover;
  }
  .ghost {
    background: url("/images/type-ghost.png");
    background-size: cover;
  }
  .grass {
    background: url("/images/type-grass.png");
    background-size: cover;
  }
  .ground {
    background: url("/images/type-ground.png");
    background-size: cover;
  }
  .ice {
    background: url("/images/type-ice.png");
    background-size: cover;
  }
  .normal {
    background: url("/images/type-normal.png");
    background-size: cover;
  }
  .poison {
    background: url("/images/type-poison.png");
    background-size: cover;
  }
  .psychic {
    background: url("/images/type-psychic.png");
    background-size: cover;
  }
  .rock {
    background: url("/images/type-rock.png");
    background-size: cover;
  }
  .steel {
    background: url("/images/type-steel.png");
    background-size: cover;
  }
  .water {
    background: url("/images/type-water.png");
    background-size: cover;
  }
}

#type-info {
  #type-content {
    h4 {
      font-weight: 600;
      text-transform: uppercase;
      background: linear-gradient(lighten($color: #bf360c, $amount: 5%), darken($color: #bf360c, $amount: 5%));
      color: white;
      height: 60px;
      width: 50%;
      margin: auto;
      border-radius: 30px;
      span {
        display: block;
        text-align: center;
        width: 100%;
      }
    }
  }
}

#type-data {
  text-align: center;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .type-data-title {
    font-size: 1.8rem;
    margin-top: 25px;
  }
  .type-data-list {
    margin-top: 15px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  .type-data-item {
    display: inline-block;
    margin: 10px;
    min-width: 160px;
    padding: 6px;
    font-size: 20px;
    border-radius: 16px;
    text-align: center;
    color: white;
    text-transform: capitalize;
  }
}

#stats-calc {
  padding-left: 10px;
  padding-right: 20px;
  text-transform: capitalize;
  h5 {
    color: lighten($color: #bf360c, $amount: 10%);
    font-family: "Exo";
    font-size: 2rem;
    text-transform: none;
    margin-bottom: 30px;
  }
  .nature-btn-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-bottom: 20px;
  }
  .nature-btn {
    cursor: pointer;
    font-size: 20px;
    display: inline-block;
    border: 1px lighten($color: #ff9800, $amount: 10%) solid;
    color: darken($color: #ff9800, $amount: 10%);
    text-align: center;
    &:hover {
      background: linear-gradient(lighten($color: #ff9800, $amount: 5%), darken($color: #ff9800, $amount: 5%));
      color: white;
      transition-duration: 0.5s;
    }
    &.selected {
      background: linear-gradient(lighten($color: #ff9800, $amount: 5%), darken($color: #ff9800, $amount: 5%));
      color: white;
      transform: skewX(-10deg);
      transition-duration: 0.5s;
    }
  }
  .stat-section {
    width: 100%;
    margin: 20px auto;
    .stat-value {
      font-size: 1.8rem;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      span {
        display: inline-block;
        min-width: 20%;
      }
    }
    .stat-data {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-content: center;
      div.input-field {
        min-width: 15%;
        margin: auto 20px;
      }
    }
  }
  .stat-btn-group {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    .stat-btn {
      min-width: 12rem;
      margin: 20px;
      text-transform: none;
      font-size: 18px;
    }
  }
}

#level-display {
  font-size: 2rem;
  margin-bottom: 10px;
}

#data-grid {
  h4 {
    margin-bottom: 30px;
  }
  div {
    .category-box {
      display: flex;
      flex-direction: column;
      .input-field,
      .other-field {
        width: 70%;
        &.drop {
          margin-top: 40px;
        }
        &.box {
          margin-top: 10px;
          margin-bottom: 10px;
          span {
            color: #444444;
            font-size: 15px;
          }
        }
        @include tablet {
          margin-left: auto;
          margin-right: auto;
          width: 50%;
        }
      }
      input ~ span,
      input ~ label {
        font-size: 14px;
      }
    }
    &:first-child {
      h4 {
        color: lighten($color: #bf360c, $amount: 10%);
        text-align: left;
        font-family: "Titillium Web", "Segoe UI", Tahoma, Verdana, sans-serif;
        @include tablet {
          margin-top: 20px;
          text-align: center;
        }
      }
      .category-box {
        padding-left: 15px;
        justify-content: left;
        align-content: center;
        @include tablet {
          padding-left: 0;
        }
        .input-field,
        .other-field {
          margin-right: auto;
        }
        h5 {
          display: inline-block;
          margin-right: auto;
          &:nth-child(n + 2) {
            margin-top: 40px;
          }
          @include tablet {
            margin: auto;
            margin-bottom: 20px;
          }
        }
      }
    }
    &:last-child {
      h4 {
        color: lighten($color: #bf360c, $amount: 10%);
        text-align: right;
        font-family: "Titillium Web", "Segoe UI", Tahoma, Verdana, sans-serif;
        @include tablet {
          margin-top: 40px;
          text-align: center;
        }
      }
      .category-box {
        padding-right: 15px;
        justify-content: center;
        align-content: center;
        @include tablet {
          padding-right: 0;
        }
        .input-field,
        .other-field {
          margin-left: auto;
        }
        h5 {
          display: inline-block;
          margin-left: auto;
          &:nth-child(n + 2) {
            margin-top: 40px;
          }
          @include tablet {
            margin: auto;
            margin-bottom: 20px;
          }
        }
      }
    }
  }
}

#dmg-btn-group {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  .dmg-btn {
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 20px;
    min-width: 14rem;
    text-transform: capitalize;
    font-size: 18px;
  }
}

#eva-sect {
  margin-top: 60px;
  #eva-head {
    font-weight: 400;
    text-transform: capitalize;
    color: #ef440f;
    border-bottom: #ef440f 2px solid;
    height: 50px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    span {
      display: block;
      text-align: center;
      width: 100%;
    }
  }
  h5 {
    margin-bottom: 30px;
    .eva-value {
      color: #bf360c;
      font-weight: 500;
    }
  }
}
